1.String Functions

In [3]:
#String Functions
def String_Functions(name):
    print("                               String Functions")
    print("-----------------------------------------------------------------------------")
    print("Length of the String is:",len(name))
    print("Upper case of the String is:",name.upper())
    print("Lower case of String is:",name.lower())
    print("removing any leading and trailing whitespaces by strip:",name.strip())
    print("Replacing a character in the string: ",name.replace('a','o'))
    print("spliting the text with comma:",name.split(" "))
    print("joining the words:",name.join(" "))
    print("finding first occurence of a value using find:",name.find('a'))
    print("checking a string is startwith m or not: ",name.startswith(' '))
    print("checking the string is ends with a: ",name.endswith('a'))
String_Functions("Manjunatha Poojari    ")

                               String Functions
-----------------------------------------------------------------------------
Length of the String is: 22
Upper case of the String is: MANJUNATHA POOJARI
Lower case of String is: manjunatha poojari
removing any leading and trailing whitespaces by strip: Manjunatha Poojari
Replacing a character in the string:  Monjunotho Poojori
spliting the text with comma: ['Manjunatha', 'Poojari', '', '', '', '']
joining the words:
finding first occurence of a value using find: 1
checking a string is startwith m or not:  False
checking the string is ends with a:  False

2.List Functions

In [7]:
#List Operations
a = [1, 2, 3]
print("Before Appending a value\n",a)
a.append(4)
print("After Appending a value\n",a)
print("----------------------------")
b = a.copy()
print("coping values into b by using copy()\n",b)
print("---------------------------------------")
print("Remove all elements from the list a by using clear()")
a.clear()
print(a)
print("---------------------------------------")
b.append(2)
print("Count occurrences of 2 in the list b by count()")
print(b.count(2))
print("---------------------------------------")
print("Extend list b by adding elements from list [3, 4] and the function is extend()")
b.extend([3, 4])
print(b)
print("---------------------------------------")
print("Finding the index of 2 in the list b by index(value)")
print(b.index(2))
print("---------------------------------------")
print(" Insert a value 2 in list b at index 1 by insert()")
b.insert(1, 2)
print(b)
print("---------------------------------------")
print("Remove and return the last element in the list b by pop() ")
b.pop()
print(b)
print("---------------------------------------")
print("Remove the first occurrence of 2 in list b by remove(value)")
b.remove(2)
print(b)
print("---------------------------------------")
print("Reverse the list order by reverse()")
b.reverse()
print(b)
print("---------------------------------------")
print("Sort the list in ascending order by sort()")
print(b.sort())
print("---------------------------------------")

Before Appending a value
 [1, 2, 3]
After Appending a value
 [1, 2, 3, 4]
----------------------------
coping values into b by using copy()
 [1, 2, 3, 4]
---------------------------------------
Remove all elements from the list a by using clear()
[]
---------------------------------------
Count occurrences of 2 in the list b by count()
2
---------------------------------------
Extend list b by adding elements from list [3, 4] and the function is extend()
[1, 2, 3, 4, 2, 3, 4]
---------------------------------------
Finding the index of 2 in the list b by index(value)
1
---------------------------------------
 Insert a value 2 in list b at index 1 by insert()
[1, 2, 2, 3, 4, 2, 3, 4]
---------------------------------------
Remove and return the last element in the list b by pop()
[1, 2, 2, 3, 4, 2, 3]
---------------------------------------
Remove the first occurrence of 2 in list b by remove(value)
[1, 2, 3, 4, 2, 3]
---------------------------------------
Reverse the list order by reverse()
[3, 2, 4, 3, 2, 1]
---------------------------------------
Sort the list in ascending order by sort()
None
---------------------------------------

3.Tuple

In [71]:
t = (10, 20, 30, 40, 50, 20)
print(len(t))
print(t.count(20))
print(t.index(30))
print(min(t))
print(max(t))
print(t[:3])

6
2
2
10
50
(10, 20, 30)

4.Student Marks Grade

In [75]:
marks=int(input())
if (marks>=90 and marks<100):
    print("A")
elif (marks>=70 and marks<=90):
    print("B")
elif (marks>=60 and marks<=70):
    print("C")
else:
    print("Fail")

 50

Fail

5.String is Palindrome or not

In [37]:
s1="mam"
s2=s1[::-1]
if(s1==s2):
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

6.Prime Number or not

In [41]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
is_prime(9)

False

7.Fibonacci Series

In [45]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b
fibonacci(5)

0 1 1 2 3

8.Even or Odd

In [50]:
def even_or_odd(n):
    print("Even" if n % 2 == 0 else "Odd")
even_or_odd(10)

Even

9) Prime number check from user input

In [69]:
def check_prime():
    num = int(input("Enter a number: "))
    print("Prime" if is_prime(num) else "Not Prime")
check_prime()

Enter a number:  9

Not Prime

10.Replace Even number with @ between 1 to 100

In [52]:
def replace_even():
    print(["@" if i % 2 == 0 else i for i in range(1, 101)])
replace_even()

[1, '@', 3, '@', 5, '@', 7, '@', 9, '@', 11, '@', 13, '@', 15, '@', 17, '@', 19, '@', 21, '@', 23, '@', 25, '@', 27, '@', 29, '@', 31, '@', 33, '@', 35, '@', 37, '@', 39, '@', 41, '@', 43, '@', 45, '@', 47, '@', 49, '@', 51, '@', 53, '@', 55, '@', 57, '@', 59, '@', 61, '@', 63, '@', 65, '@', 67, '@', 69, '@', 71, '@', 73, '@', 75, '@', 77, '@', 79, '@', 81, '@', 83, '@', 85, '@', 87, '@', 89, '@', 91, '@', 93, '@', 95, '@', 97, '@', 99, '@']

11.Square each element in a collection

In [63]:
def square_all(*number):
    return sum(x**2 for x in number)
print(square_all(1, 2, 3, 4, 5))

55

12.Retrieves the keys from dictionary and based on display the value

In [94]:

d = {
    "Alice": 85,
    "Bob": 90,
    "Charlie": 78,
    "David": 90
}
print(d.keys())
print(d.values())
print(d)

dict_keys(['Alice', 'Bob', 'Charlie', 'David'])
dict_values([85, 90, 78, 90])
{'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 90}

13.Get User Details from user next unction is to display the value whatever we get from user

In [88]:
def info(**details):
    for k,v in details.items():
        print(k,":",v)

info(name=input(),age=int(input()),city=input())

 Manju
 21
 Chennai

name : Manju
age : 21
city : Chennai