In [1]:
print("Hello World")

Hello World

Data Types

Numeric – int, float, complex
Sequence Type – string, list, tuple
Mapping Type – dict
Boolean – bool
Set Type – set, frozenset
Binary Types – bytes, bytearray, memoryview

In [13]:
#Numeric

#int
x=50
print(x)
print(type(x))

#float
y=60.5
print(y)
print(type(y))

#complex
z=2+4j
print(z)
print(type(z))

50
<class 'int'>
60.5
<class 'float'>
(2+4j)
<class 'complex'>

In [35]:
#Sequence 

#String
print("String")
s="Manjunatha Poojari"
print(s)
print(type(s))
print(s[0])

#list
print("\nList")
a=[]
a=[1,2,3]
print(a)
b=[1,2,3,"hello",'b']
print(b)
print(b[0],b[-1])
print(b[::-1])
print(type(b))


#tuple
print("\n Tuple",end=" ")
tup1 = ()
tup2 = ('Geeks', 'For')
print("\nTuple with the use of String: ", tup2)
print(tup2[0])
print(type(tup1))

String
Manjunatha Poojari
<class 'str'>
M

List
[1, 2, 3]
[1, 2, 3, 'hello', 'b']
1 b
['b', 'hello', 3, 2, 1]
<class 'list'>

 Tuple
Tuple with the use of String:  ('Geeks', 'For')
Geeks
<class 'tuple'>

In [43]:
#Boolean
print("Boolean")
a=True
print(a)
b=False
print(b)
print(type(True))

Boolean
True
False
<class 'bool'>

In [98]:
#Set
print("Set")
s1 = set()
s1 = set("GeeksForGeeks")
print("Set with the use of String: ", s1)
s2 = set(["Geeks", "For", "Geeks"])
for i in s2:
    print(i, end=" ")
print("\nSet with the use of List: ", s2)
set={1,2,3,3,4,5,4}
s=frozenset({1,2,3})
print(set)
print(s)

Set
Set with the use of String:  {'o', 'r', 'k', 'G', 'F', 'e', 's'}
Geeks For
Set with the use of List:  {'Geeks', 'For'}
{1, 2, 3, 4, 5}
frozenset({1, 2, 3})

In [55]:
#Dictionery
d = {}
d = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
print(d)
# creating dictionary using dict() constructor
d1 = dict({1: 'Geeks', 2: 'For', 3: 'Geeks'})
print(d1)

{1: 'Geeks', 2: 'For', 3: 'Geeks'}
{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [57]:
#List Operations
print("List Operations")
fruits = ["apple", "banana", "orange"]
print(fruits)
fruits.append("grape")
print(fruits)
fruits.remove("orange")
print(fruits)

List Operations
['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'grape']

In [63]:
#tuple operation
print("Tuple operation")
coordinates = (3, 5)
print(coordinates)
print("X-coordinate:", coordinates[0])
print("Y-coordinate:", coordinates[1])

Tuple operation
(3, 5)
X-coordinate: 3
Y-coordinate: 5

UserInput

In [66]:
name=input("enter the name")
print("my name is",name)

enter the name Manju

my name is Manju

In [78]:
#eg1
name=input("enter your name")
age=int(input("enter your age"))
address=input("enter your address")
print (" ")
print("Your Details")
print("-------------------")
print("your name is",name)
print("your age is",age)
print("your address is",address)

enter your name Manju
enter your age 21
enter your address Chennai

Your Details
-------------------
your name is Manju
your age is 21
your address is Chennai

In [96]:
#String Functions
def String_Functions(name):
    print("                               String Functions")
    print("-----------------------------------------------------------------------------")
    print("Length of the String is:",len(name))
    print("Upper case of the String is:",name.upper())
    print("Lower case of String is:",name.lower())
    print("removing any leading and trailing whitespaces by strip:",name.strip())
    print("Replacing a character in the string: ",name.replace('a','o'))
    print("spliting the text with comma:",name.split(" "))
    print("joining the words:",name.join(" "))
    print("finding first occurence of a value using find:",name.find('a'))
    print("checking a string is startwith m or not: ",name.startswith(' '))
    print("checking the string is ends with a: ",name.endswith('a'))
String_Functions("Manjunatha Poojari    ")

                               String Functions
-----------------------------------------------------------------------------
Length of the String is: 22
Upper case of the String is: MANJUNATHA POOJARI
Lower case of String is: manjunatha poojari
removing any leading and trailing whitespaces by strip: Manjunatha Poojari
Replacing a character in the string:  Monjunotho Poojori
spliting the text with comma: ['Manjunatha', 'Poojari', '', '', '', '']
joining the words:
finding first occurence of a value using find: 1
checking a string is startwith m or not:  False
checking the string is ends with a:  False

In [116]:
#Casting
a=19.5
b=20
c=int(a+b)
print(c)
print(type(c))
print(" ")

#List to tuple
print("List to tuple")
print("---------------")
list_value = [1, 2, 3]
tuple_value = tuple(list_value)
print(tuple_value)
print(" ")

#List to Dict
print("List to Dict")
print("---------------")
list_of_pairs = [('a', 1), ('b', 2)]
dict_value = dict(list_of_pairs)
print(dict_value)

39
<class 'int'>

List to tuple
---------------
(1, 2, 3)

List to Dict
---------------
{'a': 1, 'b': 2}

List Methods

In [170]:
#List Operations
a = [1, 2, 3]
print("Before Appending a value\n",a)
a.append(4)
print("After Appending a value\n",a)
print("----------------------------")
b = a.copy()
print("coping values into b by using copy()\n",b)
print("---------------------------------------")
print("Remove all elements from the list a by using clear()")
a.clear()
print(a)
print("---------------------------------------")
b.append(2)
print("Count occurrences of 2 in the list b by count()")
print(b.count(2))
print("---------------------------------------")
print("Extend list b by adding elements from list [3, 4] and the function is extend()")
b.extend([3, 4])
print(b)
print("---------------------------------------")
print("Finding the index of 2 in the list b by index(value)")
print(b.index(2))
print("---------------------------------------")
print(" Insert a value 2 in list b at index 1 by insert()")
b.insert(1, 2)
print(b)
print("---------------------------------------")
print("Remove and return the last element in the list b by pop() ")
b.pop()
print(b)
print("---------------------------------------")
print("Remove the first occurrence of 2 in list b by remove(value)")
b.remove(2)
print(b)
print("---------------------------------------")
print("Reverse the list order by reverse()")
b.reverse()
print(b)
print("---------------------------------------")
print("Sort the list in ascending order by sort()")
print(b.sort())
print("---------------------------------------")

Before Appending a value
 [1, 2, 3]
After Appending a value
 [1, 2, 3, 4]
----------------------------
coping values into b by using copy()
 [1, 2, 3, 4]
---------------------------------------
Remove all elements from the list a by using clear()
[]
---------------------------------------
Count occurrences of 2 in the list b by count()
2
---------------------------------------
Extend list b by adding elements from list [3, 4] and the function is extend()
[1, 2, 3, 4, 2, 3, 4]
---------------------------------------
Finding the index of 2 in the list b by index(value)
1
---------------------------------------
 Insert a value 2 in list b at index 1 by insert()
[1, 2, 2, 3, 4, 2, 3, 4]
---------------------------------------
Remove and return the last element in the list b by pop()
[1, 2, 2, 3, 4, 2, 3]
---------------------------------------
Remove the first occurrence of 2 in list b by remove(value)
[1, 2, 3, 4, 2, 3]
---------------------------------------
Reverse the list order by reverse()
[3, 2, 4, 3, 2, 1]
---------------------------------------
Sort the list in ascending order by sort()
None
---------------------------------------

In [199]:
my_set = {10, 20, 30}

print("Length:", len(my_set))         
print("Max:", max(my_set))            
print("Min:", min(my_set))            
print("Sum:", sum(my_set))            
print("Sorted:", sorted(my_set))      
print("All:", all(my_set))            
print("Any:", any(my_set))
print("Type:", type(my_set))   
print("---------------------------------------")
# Initial sets
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}
print("Original s1:", s1)
print("Original s2:", s2)
print("---------------------------------------")
# Add
s1.add(10)
print("After add(10):", s1)
print("---------------------------------------")
# Discard
s1.discard(2)
print("After discard(2):", s1)
print("---------------------------------------")
# Remove
s1.remove(1)
print("After remove(1):", s1)
print("---------------------------------------")
# Pop
popped = s1.pop()
print("After pop():", s1, "| Popped:", popped)
print("---------------------------------------")
# Copy
s_copy = s1.copy()
print("Copy of s1:", s_copy)
print("---------------------------------------")
# Update
s1.update([20, 30])
print("After update([20, 30]):", s1)
print("---------------------------------------")
# Union
print("Union (s1 | s2):", s1.union(s2))
print("---------------------------------------")
# Intersection
print("Intersection (s1 & s2):", s1.intersection(s2))
print("---------------------------------------")
# Difference
print("Difference (s1 - s2):", s1.difference(s2))
print("---------------------------------------")
# Symmetric Difference
print("Symmetric Difference (s1 ^ s2):", s1.symmetric_difference(s2))
print("---------------------------------------")
# issubset
print("Is subset:", {3, 4}.issubset(s2))
print("---------------------------------------")
# issuperset
print("Is superset:", s2.issuperset({3}))
print("---------------------------------------")
# isdisjoint
print("Is disjoint:", s1.isdisjoint({100, 200}))
print("---------------------------------------")
# Clear
s1.clear()
print("After clear():", s1)

Length: 3
Max: 30
Min: 10
Sum: 60
Sorted: [10, 20, 30]
All: True
Any: True
Type: <class 'set'>
---------------------------------------
Original s1: {1, 2, 3, 4}
Original s2: {3, 4, 5, 6}
---------------------------------------
After add(10): {1, 2, 3, 4, 10}
---------------------------------------
After discard(2): {1, 3, 4, 10}
---------------------------------------
After remove(1): {3, 4, 10}
---------------------------------------
After pop(): {4, 10} | Popped: 3
---------------------------------------
Copy of s1: {10, 4}
---------------------------------------
After update([20, 30]): {4, 10, 20, 30}
---------------------------------------
Union (s1 | s2): {3, 4, 5, 6, 10, 20, 30}
---------------------------------------
Intersection (s1 & s2): {4}
---------------------------------------
Difference (s1 - s2): {10, 20, 30}
---------------------------------------
Symmetric Difference (s1 ^ s2): {3, 5, 6, 10, 20, 30}
---------------------------------------
Is subset: True
---------------------------------------
Is superset: True
---------------------------------------
Is disjoint: True
---------------------------------------
After clear(): set()